{% block html_header_container %}

{% include 'html-header.twig' %}
         {% block head %}
		 {% endblock %}
		 </head>
{% endblock %}		 


    <body class="{{body_class}}" data-template="base.twig">

<div class="body-inner">
  {% include 'top-head.twig' %}
 {% block content %}
	{% include 'index.twig' %} 
{% endblock %} 

{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
{% endblock %}

	</div><!-- Body inner end -->
</body>
</html>