{% extends "base.twig" %}

{% block content %}
     
     {% block slider %}
      {% include 'tease-slider.twig' %}
     {% endblock %}
		<section class="call-action-all no-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="action-text">
						<h2>Get Immediate Free Consultation !</h2>
					</div>
					<p class="action-btn"><a class="btn btn-primary" href="#">Call Us Get A Quote</a></p>
				</div>
			</div>
		</div><!--/ Container end -->
    </section><!-- Call to Action end -->

	{% block product %}
	    {% include 'tease-products.twig' %} #}
	{% endblock %}
  
	{% block features %}
         {% include 'tease-features.twig' %}
	{% endblock %}

    {% block news %}
	{% include 'tease-news.twig' %}
    {% endblock %}

	
{% endblock %}