{% if menu %}
	<ul class="nav navbar-nav">
        {% for item in menu.get_items %}       	
		<li class="{{item.classes | join(' ')}}">
             <a href="{{item.get_link}}" data-toggle="dropdown">{{ item.title }} </a>
        </li>
          {% endfor %}
   </ul><!--/ Nav ul end -->
{% endif %}