{% extends 'base.twig' %}

{% block content %}

      <div id="banner-area" class="banner-area" style="background-image:url(images/banner/banner1.jpg)">
		<!-- Subpage title start -->
		<div class="banner-text text-center">
     		<div class="container">
	        	<div class="row">
	        		<div class="col-xs-12">
	        			<div class="banner-heading">
	        				<h1 class="banner-title">Insurance</h1>
	        			</div>
			        	<ul class="breadcrumb">
			            <li>Home</li>
			            <li>Insurance</li>
			            <li><a href="#"> Life Insurance</a></li>
		          	</ul>
	        		</div>
	        	</div>
       	</div>
    	</div><!-- Subpage title end -->
	</div><!-- Banner area end --> 


	<section id="main-container" class="main-container">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

					<h2 class="page-title">Life Insurance</h2>
					<p>Master cleanse selvage 3 wolf moon retro. Hella post-ironic before they sold out pitchfork gastropub dreamcatcher. Flannel celiac lomo, kale chips venmo microdosing you probably haven't heard of them four loko cliche cred butcher. Hammock banh mi forage shoreditch austin raw denim.</p>

					<div class="gap-40">&nbsp;</div>

					<div class="insurance-items">
						<div class="row">
							<div class="col-sm-8 insurance-item-content">
								<h3>Whole Life Insurance</h3>
								<h4>Offers:</h4>
								<ul class="list-round-arrow">
									<li>There are many variations of passages of Lorem Ipsum</li>
									<li>All the Lorem Ipsum generators on the Internet</li>
									<li>Tend to repeat predefined chunks as necessary</li>
									<li>Soufflé pudding brownie pudding fruitcake</li>
								</ul>
								<h4>What's Covered:</h4>
								<ul class="list-round-arrow">
									<li>Cover for accessories and add-ons</li>
									<li>Donec id elit non mi porta ut gravida at eget metus</li>
									<li>Duis mollis, est non commodo luctus</li>
									<li>The point of using Lorem Ipsum is thatl</li>
								</ul>
							</div>
							<div class="col-sm-4 insurance-item-img">
								<img class="img-responsive" src="images/insurance/details1.jpg" alt="">
							</div>
						</div><!--/ insurance items row end -->
					</div><!-- Insruance item end -->

					<div class="ts-divider">&nbsp;</div>


					<div class="insurance-items">
						<div class="row">
							<div class="col-sm-4 insurance-item-img">
								<img class="img-responsive" src="images/insurance/details2.jpg" alt="">
							</div>
							<div class="col-sm-8 insurance-item-content">
								<h3>Family Life Insurance</h3>
								<h4>Offers:</h4>
								<ul class="list-round-arrow">
									<li>There are many variations of passages of Lorem Ipsum</li>
									<li>All the Lorem Ipsum generators on the Internet</li>
									<li>Tend to repeat predefined chunks as necessary</li>
									<li>Soufflé pudding brownie pudding fruitcake</li>
								</ul>
								<h4>What's Covered:</h4>
								<ul class="list-round-arrow">
									<li>Cover for accessories and add-ons</li>
									<li>Donec id elit non mi porta ut gravida at eget metus</li>
									<li>Duis mollis, est non commodo luctus</li>
									<li>The point of using Lorem Ipsum is thatl</li>
								</ul>
							</div>
						</div><!--/ insurance items row end -->
					</div><!-- Insruance item end -->

					<div class="ts-divider">&nbsp;</div>

					<div class="insurance-items">
						<div class="row">
							<div class="col-sm-8 insurance-item-content">
								<h3>Serious Illness Insurance</h3>
								<h4>Offers:</h4>
								<ul class="list-round-arrow">
									<li>There are many variations of passages of Lorem Ipsum</li>
									<li>All the Lorem Ipsum generators on the Internet</li>
									<li>Tend to repeat predefined chunks as necessary</li>
									<li>Soufflé pudding brownie pudding fruitcake</li>
								</ul>
								<h4>What's Covered:</h4>
								<ul class="list-round-arrow">
									<li>Cover for accessories and add-ons</li>
									<li>Donec id elit non mi porta ut gravida at eget metus</li>
									<li>Duis mollis, est non commodo luctus</li>
									<li>The point of using Lorem Ipsum is thatl</li>
								</ul>
							</div>
							<div class="col-sm-4 insurance-item-img">
								<img class="img-responsive" src="images/insurance/details3.jpg" alt="">
							</div>
						</div><!--/ insurance items row end -->
					</div><!-- Insruance item end -->



				</div><!-- Content Col end -->

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="sidebar sidebar-right">
						<div class="widget box solid">
							<h3 class="widget-title">Product Resources</h3>
							<ul class="unstyled">
								<li><i class="fa fa-file-pdf-o"></i> <a href="#">Home Insurance Product Disclosure </a></li>
								<li><i class="fa fa-file-archive-o"></i><a href="#"> Insurance Product Disclosure Statement</a></li>
								<li><i class="fa fa-file-powerpoint-o"></i> <a href="#">Code of Practice Sheet</a></li>
								<li><i class="fa fa-file-text-o"></i> <a href="#">Duty of Disclosure and Approved Locks</a></li>
								<li><i class="fa fa-file-excel-o"></i> <a href="#">Family Life Cover Product Disclosure</a></li>
							</ul>
							<p><a class="btn btn-dark" href="#">Make a Claim</a></p>

						</div><!-- Widget end -->

						<div class="widget box solid">
							<div class="testimonial-classic">
								<p class="testimonial-classic-text">Lorem Ipsum as their default model text, and a search for ‘lorem ipsum’ will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose. Lorem Ipsum is that it as opposed to using.</p>
								<img src="images/clients/testimonial1.png" alt="testimonial">
								<div class="testimonial-classic-author">
									<h3 class="name">Tahlia Bidmead</h3>
									<h4 class="desg">Chief Operation Officer</h4>
								</div>
							</div>
						</div><!-- Widget end -->

					</div><!-- Sidebar end -->
				</div><!-- Sidebar Col end -->

			</div><!-- Main row end -->

		</div><!-- Conatiner end -->
	</section><!-- Main container end -->


	<section id="talk-us-feature" class="talk-us-feature">
		<div class="container">
			<div class="row text-center">
				<h3 class="title">
					talk To A Professional
					<span class="title-head">Your Business Is Our Business</span>
				</h3>
			</div>

			<div class="row">
				<div class="col-md-4">
					<div class="ts-service-wrapper">
						<div class="ts-service-image-wrapper">
							<span class="ts-service-image">
								<img class="img-responsive" src="images/icons/icon1.png" alt="">
							</span>
						</div>
						<div class="ts-service-info">
							<h3>Future Growth</h3>
						 	<p>Gummies tiramisu tart jujubes jelly beans macaroon danish pie muffin. Soufflé pudding brownie pudding fruitcake marshmallow I love. </p>
						</div>
					</div><!-- Service wrapper end -->
				</div><!-- Col end -->

				<div class="col-md-4">
					<div class="ts-service-wrapper">
						<div class="ts-service-image-wrapper">
							<span class="ts-service-image">
								<img class="img-responsive" src="images/icons/icon2.png" alt="">
							</span>
						</div>
						<div class="ts-service-info">
							<h3>Financial Solution</h3>
						 	<p>Gummies tiramisu tart jujubes jelly beans macaroon danish pie muffin. Soufflé pudding brownie pudding fruitcake marshmallow I love. </p>
						</div>
					</div><!-- Service wrapper end -->
				</div><!-- Col end -->

				<div class="col-md-4">
					<div class="ts-service-wrapper">
						<div class="ts-service-image-wrapper">
							<span class="ts-service-image">
								<img class="img-responsive" src="images/icons/icon3.png" alt="">
							</span>
						</div>
						<div class="ts-service-info">
							<h3>Strategy Place</h3>
						 	<p>Gummies tiramisu tart jujubes jelly beans macaroon danish pie muffin. Soufflé pudding brownie pudding fruitcake marshmallow I love. </p>
						</div>
					</div><!-- Service wrapper end -->
				</div><!-- Col end -->

			</div><!-- Talk us feature row end -->
		</div><!-- Container end -->
	</section><!-- Talk us feature end -->




	{# <div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper --> #}


{% endblock %}