{% block slider %}
    
     <div id="box-slide" class="owl-carousel owl-theme box-slide">
		<div class="item"  style="background-image:url(wp-content/themes/timber-starter-theme/static/img/proffer/kilindini.jpg)">
			<div class="container">
				<div class="box-slider-content">
					<div class="box-slider-text">
						<h2 class="box-slide-title"> Importing Cargo to Kenya &amp; <br/> 
							Guarantee your cargo safe arrival with our marine cargo premium.
						</h2>
                	<p class="box-slide-desc">With the inception of marine cargo insurance we ensure car importers and traders importing to Kenya have their goods insured for safe delivery to their destination.</p>	
                {# 	<a href="#" class="slider btn btn-primary">Learn More</a> #}
					</div>    
        		</div>
			</div>
		</div><!-- Item 1 end -->



	    <div class="item" style="background-image:url(wp-content/themes/timber-starter-theme/static/img/proffer/traffic-bridge.jpg)">
			<div class="container">
				<div class="box-slider-content">
					<div class="box-slider-text">
						<h2 class="box-slide-title"> Endured Motor Accident/Incident <br/> 
 								Premium For Motor Vehicle Accidents & Incidents 
						</h2>
                	<p class="box-slide-desc">We have been providing motor insurance cover to our clients since 1998 to help them live their lives with confidence give them peace of mind while driving.</p>	
                	{# <a href="#" class="slider btn btn-primary">Learn More</a> #}
					</div>    
        		</div>
			</div>
		</div><!-- Item 2 end -->

		<div class="item" style="background-image:url(wp-content/themes/timber-starter-theme/static/img/proffer/health-grandson.jpg)">
			<div class="container">
				<div class="box-slider-content">
					<div class="box-slider-text">
						<h2 class="box-slide-title"> Flexible Health Solutions
							<br /> We have numerous health soulutions covering upto chronic deseases.
						</h2>
                	<p class="box-slide-desc">We believe by eating healthy and excersing we'll keep you away from the doctor on the other hand it's better if you we provided you with a promise of being there for you if anything happened incase of a health emergency for you and your beloved ones.</p>	
                	{# <a href="#" class="slider btn btn-primary">Learn More</a> #}
					</div>    
        		</div>
			</div>
		</div><!-- Item 3 end -->
		
	</div><!-- Owl carousel -->
{% endblock %}